@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


@theme {
  --color-Primary-red:  hsl(10, 79%, 65%);
  --color-Primary-blue:  hsl(186, 34%, 65%);
  --color-Neutral-Brown-950:hsl(25, 47%, 15%);
  --color-Neutral-Brown-400: hsl(28, 10%, 53%);
  --color-Neutral-red-100: hsl(26, 66%, 93%) ;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: hsl(26, 66%, 93%);
    width: 100%;
    height: 100%;
}